html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 100px);
}

body {
  position: relative;
  background-color: var(--c-white);
}




// ***********************************
//  Text Style Guide
// ***********************************

@mixin text($family, $size, $weight, $lineHeight, $color, $textTransform, $fontStyle) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  color: $color;
  text-transform: $textTransform;
  font-style: $fontStyle;
}

// text - default but smaller
%text-100 {
  @include text(var(--ff-primary), var(--fs-400), var(--fw-regular), var(--lh-500), var(--c-grey-400), none, normal);
}
.text-100 { @extend %text-100; }

// text - default
%text-200 {
  @include text(var(--ff-primary), var(--fs-500), var(--fw-regular), var(--lh-500), var(--c-grey-400), none, normal);
}
.text-200 { @extend %text-200; }

// text - grey color and very small
%text-300 {
  @include text(var(--ff-primary), var(--fs-200), var(--fw-regular), var(--lh-400), var(--c-grey-300), uppercase, normal);
}
.text-300 { @extend %text-300; }

// text - black color and bold
%text-400 {
  @include text(var(--ff-primary), var(--fs-400), var(--fw-bold), var(--lh-400), var(--c-black), uppercase, normal);
}
.text-400 { @extend %text-400; }
.text-400--h2 h2 { @extend %text-400; }
.text-400--h3 h3 { @extend %text-400; }

// heading - small font-size
%text-500 {
  @include text(var(--ff-primary), clamp(var(--fs-500), 5vw, var(--fs-700)), var(--fw-semi-bold), var(--lh-400), var(--c-black), none, normal);
}
.text-500 { @extend %text-500; }
.text-500--h2 h2 { @extend %text-500; }
.text-500--h3 h3 { @extend %text-500; }

// medium font-size on larger viewports, small font-size on small viewports
%text-600 {
  @include text(var(--ff-primary), clamp(var(--fs-400), 2vw, var(--fs-700)), var(--fw-semi-bold), var(--lh-400), var(--c-black), none, normal);
}
.text-600 { @extend %text-600; }

// text - secondary color and italic
%text-700 {
  @include text(var(--ff-primary), var(--fs-500), var(--fw-regular), var(--lh-400), var(--c-secondary), none, italic);
}
.text-700 { @extend %text-700; }

// text - secondary color and bold
%text-800 {
  @include text(var(--ff-primary), var(--fs-400), var(--fw-bold), var(--lh-400), var(--c-secondary), uppercase, normal);
}
.text-800 { @extend %text-800; }

// heading - large font-size
%text-900 {
  @include text(var(--ff-primary), clamp(var(--fs-800), 5vw, var(--fs-1000)), var(--fw-medium), var(--lh-400), var(--c-primary), none, normal);
}
.text-900 { @extend %text-900; }

// text - medium font-size and bold
%text-1000 {
  @include text(var(--ff-primary), clamp(var(--fs-900), 5vw, var(--fs-1100)), var(--fw-extra-bold), var(--lh-300), var(--c-black), none, normal);

  font-family: var(--ff-primary);
  font-size: clamp(var(--fs-900), 5vw, var(--fs-1100));
  font-weight: var(--fw-extra-bold);
  line-height: var(--lh-300);
  color: var(--c-black);
}
.text-1000 { @extend %text-1000; }
.text-1000--h2 h2 { @extend %text-1000; }

// heading - very large font-size
%text-1100 {
  @include text(var(--ff-primary), clamp(var(--fs-800), 5vw, var(--fs-1200)), var(--fw-extra-bold), var(--lh-100), var(--c-black), none, normal);

  font-family: var(--ff-primary);
  font-size: clamp(var(--fs-800), 5vw, var(--fs-1200));
  font-weight: var(--fw-extra-bold);
  line-height: var(--lh-100);
  color: var(--c-black);
}
.text-1100 { @extend %text-1100; }

//  Body
// ***********************************

body {
  font-family: var(--ff-primary);
  font-size: var(--root-font-size);
  font-weight: var(--fw-regular);
  color: var(--c-black);
}

//  Page Elements
// ***********************************

main {
  @extend %text-200;
}

h1 {
  @extend %text-900;
}

h2 {
  @extend %text-500;
}

h3 {
  @extend %text-500;
}

strong {
  font-weight: var(--fw-bold);
}

em {
  font-style: italic;
}

ul, ol {
  margin-left: 1em;
}

a {
  color: var(--c-primary);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--c-secondary);
    text-decoration: underline;
  }
}

.mb-1--h2 {
  h2 {
    margin-bottom: 1em;
  }
}




// ***********************************
//  Buttons
// ***********************************
%text-button-1 {
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
  line-height: var(--lh-400);
  text-transform: uppercase;
}

%button-defaults {
  @extend %text-button-1;
  text-align: center;
  display: block;
  width: fit-content;
  border-radius: 2em;
  cursor: pointer;
  transition: all var(--t-fast);
}

.button {
  @extend %button-defaults;
  color: var(--c-white);
  background-color: var(--c-black);
  position: relative;
  padding-block: 1em;
  padding-inline: 2.15em;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--c-primary);
    color: var(--c-white);
    text-decoration: none;
  }

  &--highlight {
    background-color: var(--c-primary);

    &:hover,
    &:focus {
      background-color: var(--c-secondary);
      color: var(--c-white)
    }
  }
}




// ***********************************
//  Link Underline
// ***********************************

%link-underline {
  content: '';
  display: block;
  border-bottom: 2px solid var(--c-primary);
  transform: scaleX(0);
  // opacity: 0;
  transform-origin: 0% 50%;
  transition: transform var(--t-fast);
}

%link-underline--hover {
  transform: scaleX(1);
  // opacity: 1;
}




// ***********************************
//  Text Strike
// ***********************************

.text-strike {
  p {
    width: fit-content;
    margin-inline: auto;
    padding-inline: clamp(0.25em, 5vw, 2em);
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--c-primary);
      position: absolute;
      inset: 50% auto auto 0;
      transform: translateY(-50%);
      z-index: -1;
    }

    span {
      background-color: var(--c-white);
      padding-inline: 0.5em;
    }
  }

  &.text-strike--hide-vw100 {
    @media (max-width: $vw-100) {
      p {
        width: 100%;
        padding-inline: 0;

        &:before {
          display: none;
        }

        span {
          padding-inline: 0;
        }
      }
    }
  }
}




// ***********************************
//  Gap Line
// ***********************************
.gap-line {
  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: var(--c-black);
    margin-top: 1.5em;
  }

  @mixin gap-line($vw) {
    @media (max-width: $vw) {
      &:after {
        margin-inline: auto;
      }
    }
  }

  &--vw200 { @include gap-line($vw-200); }
  &--vw300 { @include gap-line($vw-300); }
}




// ***********************************
//  Text Background
// ***********************************
.text-background {
  padding-block: 0;
  padding-inline: 4em;
  display: inline-block;

  &--primary {
    background-color: var(--c-primary);
    color: var(--c-white);
  }

  &--grey-100 {
    background-color: var(--c-grey-100);
    color: var(--c-black);
  }
}




// ***********************************
//  Inline SVG
// ***********************************
.svg {
  svg {
    align-self: flex-start;

    path,
    line,
    circle,
    rect,
    polygon {
      stroke: #9a0414;
    }
  }

  &--57h {
    svg {
      height: 57px;
    }
  }

  &--mi-center-vw800 {
    @media (max-width: $vw-800) {
      svg {
        margin-inline: auto;
      }
    }
  }

  &--mi-center-vw300 {
    @media (max-width: $vw-300) {
      svg {
        margin-inline: auto;
      }
    }
  }

  &--mi-center-vw200 {
    @media (max-width: $vw-200) {
      svg {
        margin-inline: auto;
      }
    }
  }
}




// **************************************************
//  Thumb CTA
// **************************************************
.thumb-cta {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  inset: auto auto 0 auto;
  width: 100%;
  display: flex;
  background-color: var(--c-grey-400);
  text-align: center;
  z-index: 9999;
  transition: all var(--t-medium);

  @media (max-width: $vw-200) {
    flex-direction: column;
  }
  
  a {
    @extend %text-button-1;
    color: var(--c-white);
    background-color: var(--c-black);
    display: block;
    width: 100%;
    padding: 1em;
    transition: all var(--t-fast);

    &:first-of-type {
      border-right: 1px solid var(--c-grey-400);

      @media (max-width: $vw-200) {
        border: none;
        border-bottom: 1px solid var(--c-grey-400);
      }
    }

    &:last-of-type {
      border-left: 1px solid var(--c-grey-400);

      @media (max-width: $vw-200) {
        border: none;
        border-top: 1px solid var(--c-grey-400);
      }
    }

    &:hover,
    &:focus {
      background-color: var(--c-primary);
      text-decoration: none;

      &:first-of-type {
        border-color: var(--c-primary);
      }

      &:last-of-type {
        border-color: var(--c-primary);
      }
    }
  }

  @media (max-width: $vw-400) {
    &.scrolled {
      opacity: 1;
      visibility: visible;
    }
  }
}




// ***********************************
//  Icons
// ***********************************
.social {
  list-style: none;

  a {
    &:before {
      content: '\e801';
      font-family: 'icons';
    }
  }
}

.social__facebook a:before { content: '\f09a'; }
.social__instagram a:before { content: '\f16d'; }
.social__twitter a:before { content: '\f099'; }
.social__linkedin a:before { content: '\e80a'; }

.icon {
  display: flex;
  column-gap: 0.5em;

  &:before {
    content: '';
    font-family: 'icons';
    font-size: var(--fs-500);
    color: var(--c-primary);
  }
}

.icon--address {
  &:before {
    content: '\E814';
  }
}

.icon--phone {
  &:before {
    content: '\E815';
  }
}




// ***********************************
//  Masthead
// ***********************************
.masthead {
  display: grid;
  place-items: center;
  position: relative;
  height: 100%;
  margin-top: var(--header-height);

  >* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.masthead__overlay {
  width: 100%;
  max-width: fit-content;
  padding: clamp(1.5em, 3.5vw, 3em);
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  border-radius: 2em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  &.homepage {
    .masthead__overlay__box {
      display: flex;
      flex-direction: column;
      gap: 1em;
      width: clamp(300px, 42vw, 760px);
    }

    .masthead__overlay__heading {
      text-align: center;

      h1 {
        @extend %text-1100;
      }
    }

    .masthead__overlay__subtext {
      @extend %text-800;
      display: flex;
      justify-content: space-between;
      padding-inline: 0.25em;

      @media (max-width: $vw-400) {
        flex-direction: column;
        align-items: center;
      }
    }

    .masthead__overlay__text {
      @extend %text-500;
      text-align: center;
      padding-inline: 0.25em;
      margin-block: 1em;

      @media (max-width: $vw-400) {
        padding-inline: 0;
        margin-block: 0;
      }
    }

    .masthead__overlay__buttons {
      display: flex;
      justify-content: center;
      gap: 1em;

      @media (max-width: $vw-400) {
        flex-direction: column;
        align-items: center;

        >* {
          width: 100%;
        }
      }
    }
  }

  &.interior {
    .masthead__overlay__heading {
      h1 {
        @extend %text-300;
      }
    }
  }
}

.masthead__media {
  z-index: -1;
  display: block;
  width: 100%;
  height: var(--masthead-height);
  object-fit: cover;
  opacity: 0.5;
  background-color: var(--c-grey-200);

  &.photo {
    max-height: 500px;
    height: 60vh;

    @media (max-height: 700px), (max-width: $vw-100) {
      height: 40vh;
    }
    
    img {
      width: 1920px;
      height: 100%;
      object-fit: cover;
      margin-inline: auto;
    }
  }
}




// ***********************************
//  Video Embed
// ***********************************
.video-embed {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
}




// ***********************************
//  Content Background
// ***********************************
.content-bg {
  position: relative;
  overflow: hidden;
}

.content-bg__circle {
  position: absolute;
  inset: 0 50% auto auto;
  transform: translateX(50%);
  width: 440px;
  opacity: 0.05;
  z-index: -1;
}

.content-bg__photo {
  position: absolute;
  inset: 0 0 auto 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.1;
}

.bg-gradient {
  background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
}